<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.ebook.book.dao.BookDAO">
 <select id="selectBookBySearchText" parameterType="String" resultType="com.ebook.book.model.Book">
 SELECT 
	`id`
	,`name`
	,`author`
	,`publisher`
	,`publishDate`
	,`imagePath`
	,`isbn`
	,`page`
	,`state`
	,`info`
	,`categoryId`
	,`createdAt`
	,`updatedAt`
FROM
	`book`
WHERE
	`name` LIKE  CONCAT('%',#{searchText},'%')
	OR `author` LIKE  CONCAT('%',#{searchText},'%')
	OR `info` LIKE  CONCAT('%',#{searchText},'%')
 
 </select>
 
 <select id="selectBookByBookId" parameterType="int" resultType="com.ebook.book.model.Book">
 SELECT 
	`id`
	,`name`
	,`author`
	,`publisher`
	,`publishDate`
	,`imagePath`
	,`isbn`
	,`page`
	,`state`
	,`info`
	,`categoryId`
	,`createdAt`
	,`updatedAt`
FROM
	`book`
WHERE
	`id` = #{id}
 </select>
 <select id="selectLatestBookList" resultType="com.ebook.book.model.Book">
 SELECT 
	`id`
	,`name`
	,`author`
	,`publisher`
	,`publishDate`
	,`imagePath`
	,`isbn`
	,`page`
	,`state`
	,`info`
	,`categoryId`
	,`createdAt`
	,`updatedAt`
FROM
	`book`
ORDER BY
	`createdAt` DESC
LIMIT 4;
 
 </select>
 <update id="updateStateToBorrowByBookId" parameterType="int">
 UPDATE
	`book`
SET 
	`state` = '대출 가능'
WHERE
	`id` = #{id}
 </update>
 <update id="updateStateToReserveByBookId" parameterType="int">
 UPDATE
	`book`
SET 
	`state` = '예약 가능'
WHERE
	`id` = #{id} 
 </update>
 </mapper>