<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.ebook.book.dao.BookDAO">
 <select id="selectBookBySearchText" parameterType="String" resultType="com.ebook.book.model.Book">
 SELECT 
	`id`
	,`name`
	,`author`
	,`publisher`
	,`publishDate`
	,`imagePath`
	,`isbn`
	,`page`
	,`state`
	,`info`
	,`categoryId`
	,`createdAt`
	,`updatedAt`
FROM
	`book`
WHERE
	`name` OR `author` OR `info`
LIKE  CONCAT('%',#{searchText},'%')
 
 </select>
 </mapper>