<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.ebook.borrow.dao.BorrowDAO">
 <insert id="insertBorrow" parameterType="map">
 INSERT INTO `borrow`
 (
	`userId`
	,`bookId`
	,`borrowAt`
	,`returnAt`
	,`createdAt`
	,`updatedAt`
 )
 VALUES
 (
 	#{userId}
 	,#{bookId}
 	,NOW()
 	,DATE_ADD(NOW(), INTERVAL 7 DAY)
 	,NOW()
 	,NOW()
 )
 
 </insert>
 <select id="countBorrowByUserIdAndBookId" parameterType="map" resultType="int">
 SELECT
 	COUNT(1)
 FROM
 	`borrow`
 WHERE
 	`userId` = #{userId}
 AND
 	`bookId` = #{bookId}
 </select>
 <select id="countBorrowStateByBookId" parameterType="int" resultType="int">
 SELECT
 	COUNT(*)
 FROM
 	`borrow`
 WHERE
 	`bookId` = #{bookId}
 </select>
 <select id="countBorrowByBookId" parameterType="int" resultType="int">
 SELECT
 	COUNT(*)
 FROM
 	`borrow` 
 WHERE 
 	`bookId` = #{bookId}
 </select>
 <select id="countBorrowByUserId" parameterType="int" resultType="int">
 SELECT
 	COUNT(*)
 FROM
 	`borrow` 
 WHERE 
 	`userId` = #{userId}
 </select>
<select id="selectLatestReturnAtByBookId" parameterType="int" resultType="Date">
SELECT 
	`returnAt`
FROM
	`borrow`
WHERE 
	`bookId` = #{bookId}
ORDER BY 
	`returnAt` ASC
LIMIT 1
 </select>
<delete id="deleteBorrow" parameterType="map">
DELETE FROM 
	`borrow`
WHERE
	`userId` = #{userId}
AND
	`bookId` = #{bookId}
</delete>
<update id="updateReturnAtByUserIdAndBookId" parameterType="map">
UPDATE
	`borrow`
SET 
	`returnAt` = DATE_ADD(`returnAt` , INTERVAL 7 DAY)
	,`updatedAt` = NOW()
WHERE
	`userId` = #{userId}
AND
	`bookId` = #{bookId} 
 </update>
 
 <select id="selectExtendBorrowByUserIdAndBookId" parameterType="map" resultType="int">
 SELECT
 	TIMESTAMPDIFF( DAY, `borrowAt`, `returnAt`)
 FROM
 	`borrow`
 WHERE
	`userId` = #{userId}
AND
	`bookId` = #{bookId} 
 </select>
 <select id="selectExpiredBorrowList" resultType="com.ebook.borrow.model.Borrow">
 SELECT
 (
	`id`
	,`userId`
	,`bookId`
	,`borrowAt`
	,`returnAt`
	,`createdAt`
	,`updatedAt`
 ) 
 FROM
 	`borrow`
 WHERE
 	TIMESTAMPDIFF( DAY, NOW(), `returnAt`) &lt; 0
 </select>
 <delete id="deleteBorrowById" parameterType="int">
 DELETE FROM 
	`borrow`
WHERE
	`id` = #{id}
 </delete>
 </mapper>