@charset "UTF-8";
header {height:100px; background-color:#ddd;}
.contents {min-height:500px;} 
footer {height:100px; color: gray;}

#signBox {box-shadow:0px 0px 20px #999;}
#emptyUserBox {width:200px; }
.sign-name-box {width:120px;}
.signInIcon {width:50px; height:50px; background-color:#ddd;}
.signInWrite {border: 1px solid #aaa; border-radius:5px;}
.width-fix {width:1000px; }
.small-width{width:700px;}
.search-box-width {width:500px;}
#resultBookInfo{width:400px;}
.latest-book {padding:5px; padding-left:10px; width:200px; height:300px; border-radius:10px; background-color:#eee;}
.recommend-book {padding:5px; width:200px; height:300px; border-radius:10px; background-color:#eee;}
#userSelect {height:300px; box-shadow:0px 0px 20px gray; border-radius:10px;}
.mypage-box-width{width:700px;}
.apply-font-design {font-weight:bold; font-size:15px;}
.apply-box-size {width:120px; height:30px;}
.table-height {height:60px; }
.textarea-size {width:500px; height:50px;}

#applyCreateBox { box-shadow:0px 0px 20px gray; border-radius:10px; width:800px;}
#adminCreateBox { box-shadow:0px 0px 20px gray; border-radius:10px; width:800px;}
.datepicker-days {display:none;}
.datepicker-months {display:none;}
.datepicker-years {display:block;}

a {text-decoration:none;color:black;}
a :hover {text-decoration:none; color:darkblue;}