@charset "UTF-8";
header {height:100px;}
.contents {min-height:500px;} 
footer {height:100px; color: gray;}

#signBox {box-shadow:0px 0px 20px #999;}
#emptyUserBox {width:200px; }
.sign-name-box {width:120px;}
.signInIcon {width:50px; height:50px; background-color:#ddd;}
.signInWrite {border: 1px solid #aaa; border-radius:5px;}